@use "./variables" as *;
@use "./mixins" as *;
@use "./extend" as *;

.download {
    @extend %flex-center;
    gap: $main-padding * 2;

    &__header {
        @extend %flex-center;
        gap: $main-padding;
    }
    &__h3 {
        @extend %h3;
    }
    &__p {
        @extend %p;
        @extend %p-one-col;
    }
    &__boxes {
        @include grid(4rem, repeat(3, 1fr));
        width: 100%;
    }
    &__h4 {
        font-size: 2rem;
        font-weight: bold;
    }
    &__box {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
            rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        border-radius: 0.5rem;
        &-header {
            padding: $main-padding * 2;
            @extend %flex-center;
            gap: 1rem;
        }
        &-svg {
            width: 8rem;
            height: 8rem;
        }
        &-footer {
            padding: $main-padding;
            border-top: 2px dashed $second-color;
            @extend %flex-center;
        }
        &-link {
            @extend %button;
            width: 100%;
            &-svg {
                @extend %download-svg;
            }
            &--soon {
                background-color: #82858d;
                cursor: no-drop;
            }
        }
    }
}
