@use "./variables" as *;
@use "./mixins" as *;
@use "./extend" as *;

.main {
    @include grid($main-padding * 4);
}
.feature {
    @include grid($main-padding * 2, repeat(2, 1fr));
    &__text {
        @include flex(column, $main-padding, center);
    }
    &__h2 {
        font-size: 4rem;
        font-weight: 700;
    }
    &__h3 {
        @extend %h3;
    }
    &__p {
        @extend %p;
    }
    &__links {
        width: 100%;
        @include flex($g: $main-padding);
    }
    &__link {
        @extend %button;
    }
    &__svg {
        @extend %download-svg;
    }
    &__image {
        max-width: 100%;
    }
}
